h1 {font-family: "Nosifer",  sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    /* Cria um gradiente que vai do azul para o roxo */
    background: linear-gradient(to right, #873434, #de1903);
    
    /* Garante que o fundo cubra a tela inteira sem repetir */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.caixa-imagem img {
  width: 100%;          /* A imagem ocupa toda a largura da caixa */
  height: 100%;         /* A imagem ocupa toda a altura da caixa */
  object-fit: cover;    /* Mantém a proporção sem distorcer a imagem */
  transition: transform 0.3s ease;
}

.container img {
  width: 300px; /* Defina o tamanho da imagem conforme sua necessidade */
  height: auto;
  
}
