#conteudo {
    width: 900px;
    height: 900px;
    margin: 0 auto;
}

#cabecalho {
    width: 900px;
    height: 300px;
    display: flex;
}

#feed {

    img {
        width: 297px;
        height: 272px;
    }

}

#destaques {
    display: flex;
    height: 200px;
    overflow-y: hidden;
    overflow-x: scroll;
}

#feed {
    flex-wrap: wrap;
    height: 500px;
    display: flex;
    gap: 3px;
}

#fotodeperfil {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textodeperfil {
    width: 700px;
    height: 300px;
    color: rgb(36, 30, 27);
    box-sizing: border-box;
    padding: 20px 70px;

    h1 {
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

#fotodeperfil>img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 50px;
}

.pai {
    display: flex;
    justify-content: center;
    /* Centraliza na horizontal */
    align-items: center;
    /* Centraliza na vertical */
    height: 100vh;
    /* Ocupa a altura total da tela */
}

#seguidores {
    margin-right: 45px;
}

.juntinhos {
    margin: 0;
}

.quasejuntinho {
    margin-bottom: 0;
}

#pill {
    border-radius: 15px;
    padding: 5px;

    img {
        position: relative;
        top: 3px;
    }
}

#paidapill {
    margin: 10px 0;
}

#image.link {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    background-image: url('link.image.jpg');
}

a {
    text-decoration: none;
}

.destaque {
    width: 120px;
    height: 150px;
    text-align: center;
    padding: 10px;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}